<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Smoothie Maker</title>
	<link rel="stylesheet" href="./style.css" type="text/css">
</head>

<body>
	<h1>Smoothie API</h1>
	
	<div>
		<ul>
			<li>Make your smoothie! <a href="/smoothieMaker">Maker</a></li>
			<li>Take a look at existing recipies <a href="/smoothieGetter">Search smoothies</a></li>
		</ul>
	</div>
</body>

</html>
