<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Smoothie Maker</title>
</head>

<body>
	<h1>Make your own smoothie!</h1>

	<ul>
		<li>Make your smoothie! <a href="/smoothieMaker">Maker</a></li>
		<li>Take a look at existing recipies <a href="/smoothieGetter">Search smoothies</a></li>
	</ul>
</body>

</html>
