<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Get Smoothie Recipie</title>
	<link rel="stylesheet" href="style.css">>
</head>

<body>
	<h1>Get Smoothie Recipie</h1>
	<form action=<%- url %> method="post">
		<fieldset>
			<label>Smoothie Name: <input type="text" name="name"  placeholder="smoothie name"></label>
		</fieldset>
		<br>
		<input type="reset" />
		<input type="submit" value="Get Smoothie"/>
	</form>
    <div>
        <h2><%- name %></h2>
		<%- ingredientsTable %>
		<%- nutritionTable  %>
    </div>
</body>

<div><a href="/">Back to home</a></div>

</html>
