<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Make Smoothie</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Smoothie Maker</h1>
	<form action=<%- url %> method="post">
		<fieldset id="ingredients">
			<legend>
				<strong>Enter Quantities</strong>
			</legend>
			<label>Strawberry: </label>
			<input type="number" name="strawberry" id="strawberry"><br>
			
			<label>Banana: </label>
			<input type="number" name="banana" id="banana"><br>
			
			<label>Pear: </label>
			<input type="number" name="pear" id="pear"><br>
			
			<label>Blackberry: </label>
			<input type="number" name="blackberry" id="blackberry"><br>

			<label>Kiwi: </label>
			<input type="number" name="kiwi" id="kiwi"><br>

			<label>Pineapple: </label>
			<input type="number" name="pineapple" id="pineapple"><br>

			<label>Fig: </label>
			<input type="number" name="fig" id="fig"><br>

			<label>Passionfruit: </label>
			<input type="number" name="passionfruit" id="passionfruit"><br>

			<label>Raspberry: </label>
			<input type="number" name="raspberry" id="raspberry"><br>

			<label>Mango: </label>
			<input type="number" name="mango" id="mango"><br>

			<label>Blueberry: </label>
			<input type="number" name="blueberry" id="blueberry"><br>

			<label>Apple: </label>
			<input type="number" name="apple" id="apple"><br>

			<label>Peach: </label>
			<input type="number" name="peach" id="peach"><br>
		</fieldset><br>

		<fieldset>
			<legend>
				<strong>Save For Later</strong>
			</legend>
			<label>Recipe name:</label>
			<input type="text" name="smoothieName" id="smoothieName">
		</fieldset>

		<hr>
		<button id="saveRecipe">Save Recipe</button> 
		<!-- have option to name recipe -->

		<input type="submit" value="Get Nutrition Info"/> 
	</form>
</body>

<div><a href="/">Back to home</a></div>

</html>
